<?xml version="1.0" encoding="GBK"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" 
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
						http://www.springframework.org/schema/jdbc 
						http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
						http://www.springframework.org/schema/context   
					    http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<!-- dataSource 配置 -->
	<bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		
		<!-- 校内网数据库 -->
		<!-- <property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://db.cstacauc.cn?useSSL=true" />  -->
		
		<!-- 公网数据库 -->
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://sc.xiaolus.cn?useSSL=true"/>
		
		<property name="username" value="root" /> 
		<property name="password" value="XiaoLuMARIADB01291219" /> 
	</bean>
	
	<!-- 扫描所有mapper文件 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="myDataSource" />
		<property name="configLocation" value="classpath:spring_config/sqlMapConfig.xml" />
		<property name="mapperLocations" value="classpath:org/csta/taoke/oa/*/dao/*.xml" />
	</bean>
	
	<!-- spring与mybatis整合配置，扫描所有dao -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="org.csta.taoke.oa" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>
	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8"/>
	</bean>
	<!-- 全局常量初始化配置文件 -->
	<bean class="org.csta.taoke.oa.common.entity.Config" scope="singleton"
		lazy-init="false" init-method="initConfig">
		<property name="path" value="/spring_config/config.properties" />
	</bean>
</beans>