<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.csta.taoke.oa.attachment.dao.AttachmentMapper">
    <select id="getAttachmentList" 
	resultType="org.csta.taoke.oa.attachment.entity.Attachment" 
	parameterType="org.csta.taoke.oa.attachment.entity.Attachment">
		select * from office.attachment where isdel = 0;
	</select>
	<select id="getAttachmentTrashList" 
	resultType="org.csta.taoke.oa.attachment.entity.Attachment" 
	parameterType="org.csta.taoke.oa.attachment.entity.Attachment">
		select * from office.attachment where isdel = 1;
	</select>
	<select id="getAttachment" 
	resultType="org.csta.taoke.oa.attachment.entity.Attachment" 
	parameterType="org.csta.taoke.oa.attachment.entity.Attachment">
		select * from office.attachment where isdel = 0 and 
		id = (select attachment from office.article where isdel = 0 and id = #{id});
	</select>
	<insert id="insertAttachment" 
	parameterType="org.csta.taoke.oa.attachment.entity.Attachment">
		insert into office.attachment(location,type,keyentry,isdel) 
		values (
		#{location},
		#{type},
		#{keyentry},
		0);
	</insert>
	<update id="updateAttachment" 
	parameterType="org.csta.taoke.oa.attachment.entity.Attachment">
		update office.attachment set 
		location = #{location},
		type = #{type},
		keyentry = #{keyentry} 
		where isdel = 0 and 
		id = (select attachment from office.article where isdel = 0 and id = #{id});
	</update>
	<update id="removeAttachment" 
	parameterType="org.csta.taoke.oa.attachment.entity.Attachment">
		update office.attachment set 
		isdel = 1
		where id = (select attachment from office.article where isdel = 0 and id = #{id});
	</update>
	<update id="redoAttachment" 
	parameterType="org.csta.taoke.oa.attachment.entity.Attachment">
		update office.attachment set 
		isdel = 0
		where id = (select attachment from office.article where isdel = 0 and id = #{id});
	</update>
	<delete id="deleteAttachment" 
	parameterType="org.csta.taoke.oa.attachment.entity.Attachment">
		delete from office.attachment 
		where id = (select attachment from office.article where isdel = 0 and id = #{id});
	</delete>
</mapper>